.main {
    background-color: navajowhite;
    max-width: 60vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 70% 10%;
}

.header {
    background-color: navajowhite;
}